<h1>Préparation de la source des données</h1>

In [2]:
import pandas as pd

In [4]:
chemin = 'assets/users-musics.csv'
data = pd.read_csv(chemin)
data.head()

   Age  Sexe          Artiste
0   20     1  Innocent Balume
1   23     1  Innocent Balume
2   25     1      Fally Ipupa
3   26     1      Fally Ipupa
4   29     1      Fally Ipupa