In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
#pip install scikit-learn

In [4]:
chemin = 'assets/users-musics.csv'
data = pd.read_csv(chemin)
data.head()

   Age  Sexe          Artiste
0   20     1  Innocent Balume
1   23     1  Innocent Balume
2   25     1      Fally Ipupa
3   26     1      Fally Ipupa
4   29     1      Fally Ipupa

In [5]:
X = data.drop(columns=['Artiste'])
display(X)

    Age  Sexe
0    20     1
1    23     1
2    25     1
3    26     1
4    29     1
5    30     1
6    31     1
7    33     1
8    37     1
9    20     0
10   21     0
11   25     0
12   26     0
13   27     0
14   30     0
15   31     0
16   34     0
17   35     0
18   17     1
19   17     0
20   27     1
21   27     1
22   24     0
23   25     0
24   17     1
25   14     1
26   15     1
27   16     1
28   17     1
29   18     1
30   19     1
31   20     1
32   15     0
33   16     0
34   17     0
35   18     0
36   19     0
37   20     0
38   17     1
39   18     1
40   19     1
41   20     1
42   15     0
43   16     0
44   17     0
45   18     0
46   19     0
47   20     0
48   31     0
49   34     0
50   35     0
51   17     1
52   17     0
53   27     1
54   27     1
55   24     0
56   25     0

DÃ©but d'apprentissage

In [7]:
y = data['Artiste']

model = DecisionTreeClassifier()
model.fit(X, y)

DecisionTreeClassifier()

In [11]:
predictions = model.predict([[27,1]])
display(predictions)

C:\Users\theodor\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Fally Ipupa'], dtype=object)

In [12]:
predictions = model.predict([[27,1],[27, 0],[20, 1],[37, 0],[24, 1],[22, 0]])
display(predictions)

C:\Users\theodor\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Fally Ipupa', 'Moise Mbiye', 'Innocent Balume', 'Fally Ipupa',
       'Fally Ipupa', 'Gaz Mawete'], dtype=object)