<h4>Sélection des données</h4>

In [19]:
import pandas as pd

In [20]:
chemin = 'assets/artistes_data.csv'
df = pd.read_csv(chemin) #dataFrame

In [21]:
df.head(3) #affiche les n premiers enregistrements

   Unnamed: 0         Artiste     Vues  Genre  Age    Fortune
0           0     Moise Mbiye   400000  Homme   44   400000.0
1           1  Bakenda Michel    52220  Homme   33    43000.0
2           2     Fally Ipupa  1800000  Homme   41  2000000.0

In [22]:

df.dtypes

Unnamed: 0      int64
Artiste        object
Vues            int64
Genre          object
Age             int64
Fortune       float64
dtype: object

In [23]:
df2 = df.Fortune.astype(str)
df2.dtypes

dtype('O')

In [24]:
df.dtypes

Unnamed: 0      int64
Artiste        object
Vues            int64
Genre          object
Age             int64
Fortune       float64
dtype: object

In [22]:
df2 = pd.to_numeric(df.Fortune)
df2.dtypes

dtype('float64')

Conversion float en int

In [25]:
df2 = df.Fortune.astype(int)
display(df.dtypes)
display(df2.dtypes)

Unnamed: 0      int64
Artiste        object
Vues            int64
Genre          object
Age             int64
Fortune       float64
dtype: object

dtype('int32')

In [26]:
df.Fortune = df.Fortune.astype(int)
df.to_csv('assets/fortuneInt.csv')
df.dtypes

Unnamed: 0     int64
Artiste       object
Vues           int64
Genre         object
Age            int64
Fortune        int32
dtype: object