<h1>Normalisation</h2>
<p>Pour obtenir la valeur normalisée, nous appliquons la formule ci-dessous</p>

In [1]:
import pandas as pd
chemin = 'assets/artistes_data.csv'
df = pd.read_csv(chemin)

Pour afficher les 5 premières lignes

In [10]:
df.head()

   Unnamed: 0         Artiste     Vues  Genre  Age    Fortune
0           0     Moise Mbiye   400000  Homme   44   400000.0
1           1  Bakenda Michel    52220  Homme   33    43000.0
2           2     Fally Ipupa  1800000  Homme   41  2000000.0
3           3     Petit Fally     6000  Homme   17     1700.0
4           4      Ferré Gola     7000      H   43   430000.0

Pour afficher l'age moyen des artistes

In [11]:
df.Age.mean()

39.3

Pour afficher la fortune moyenne

In [12]:
df.Fortune.mean()

814470.0

Pour trouver la déviation standard

In [13]:
df.Age.std()

14.213061285701652

Pour trouver la valeur normaliser de chaque ligne des données

In [15]:
norm = (age -age.mean())/ age.std()
norm

0    0.330682
1   -0.443254
2    0.119608
3   -1.568979
4    0.260324
5   -0.935759
6   -0.865401
7    1.315691
8    0.119608
9    1.667480
Name: Age, dtype: float64