<H1>Transformation des données</H1>
<p>La transformation se fait à l'aide de la fonction <code>transform(...)</code> comme suit</p>

In [1]:
import pandas as pd
chemin = 'assets/artistes_data.csv'
df = pd.read_csv(chemin)

In [6]:
df.Age.transform(lambda a: print(a))

44
33
41
17
43
26
27
58
41
63

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: Age, dtype: object

On veut connaitre afficher le montant des contributions(taxe) à la hauteur de 30% de la fortune de chaque artiste

In [9]:
df.Age.transform(lambda a: a+1)

0    45
1    34
2    42
3    18
4    44
5    27
6    28
7    59
8    42
9    64
Name: Age, dtype: int64

In [10]:
df.Fortune.transform(lambda f: f*30/100)

0    120000.0
1     12900.0
2    600000.0
3       510.0
4    129000.0
5    540000.0
6    129000.0
7    723000.0
8         0.0
9    189000.0
Name: Fortune, dtype: float64

In [11]:
df['Taxes'] = df.Fortune.transform(lambda f: f*30/100)

Affichons maintenant chaque artiste et le montant des taxes à payer

In [12]:
df[['Artiste', 'Fortune', 'Taxes']]

          Artiste    Fortune     Taxes
0     Moise Mbiye   400000.0  120000.0
1  Bakenda Michel    43000.0   12900.0
2     Fally Ipupa  2000000.0  600000.0
3     Petit Fally     1700.0     510.0
4      Ferré Gola   430000.0  129000.0
5         Innos-B  1800000.0  540000.0
6      Gaz Mawete   430000.0  129000.0
7   Koffi Olomide  2410000.0  723000.0
8    Athoms Mbuma        0.0       0.0
9    Tshala Mwana   630000.0  189000.0

Au cas où la fonction à appliquer à la transformation est assez complexe, la fonction lambda peut s'avérer moins pratique: dans ce cas vous utiliserez une fonction standard de la manière suivante.

In [16]:
def calculer_tax(x):
    if x > 43000:
        return x*30/100
    else:
        return x*20/100
 
df['Taxes'] = df.Fortune.transform(calculer_tax)
df[['Artiste', 'Fortune', 'Taxes']]

          Artiste    Fortune     Taxes
0     Moise Mbiye   400000.0  120000.0
1  Bakenda Michel    43000.0    8600.0
2     Fally Ipupa  2000000.0  600000.0
3     Petit Fally     1700.0     340.0
4      Ferré Gola   430000.0  129000.0
5         Innos-B  1800000.0  540000.0
6      Gaz Mawete   430000.0  129000.0
7   Koffi Olomide  2410000.0  723000.0
8    Athoms Mbuma        0.0       0.0
9    Tshala Mwana   630000.0  189000.0

On peut grouper les données comme suit

In [19]:
df.Age

0    44
1    33
2    41
3    17
4    43
5    26
6    27
7    58
8    41
9    63
Name: Age, dtype: int64