<h1>Changement des index</h1>

In [4]:
import pandas as pd

df = pd.DataFrame({
    'Person': ['Alice', 'Steven', 'Neesham', 'Chris', 'Alice'],
    'City': ['Berlin', 'Montreal', 'Toronto', 'Rome', 'Munich'],
    'Mother Tongue': ['German', 'French', 'English', 'Italian', 'German'],
    'Age':  [37, 20, 38, 23, 35],

},index=["Ja","Fe","Ma","Av","Ma"])

print(df)

     Person      City Mother Tongue  Age
Ja    Alice    Berlin        German   37
Fe   Steven  Montreal        French   20
Ma  Neesham   Toronto       English   38
Av    Chris      Rome       Italian   23
Ma    Alice    Munich        German   35

In [ ]:
df.drop(labels=['Ma'])
df.head()

     Person         City   Langue  Age
Ja    Alice    Mbujimayi   German   37
Fe   Steven  Kanuntshila   French   20
Ma  Neesham         Goma  English   38
Av    Chris       Bukavu  Italian   23
Ma    Alice       Matadi   German   35

Vous pouvez remarquer qu'il n'y aucun changement, c'est parce qu'il faut toujours utiliser <code>inplace=True</code>.

In [ ]:
df.drop(labels=['Ma'], inplace=True)
df.head()

    Person         City   Langue  Age
Ja   Alice    Mbujimayi   German   37
Fe  Steven  Kanuntshila   French   20
Av   Chris       Bukavu  Italian   23

NB: Lorsque la catégorie que vous supprimezn'existe pas, une exception est générée. Penser à utiliser l'instruction <code>try except</code>.

In [7]:
try:
    df.drop(labels=['Ma'], inplace=True)
    df.head()
except KeyError:
    print('Catégorie déjà supprimée.')
except:
    print('Erreur inattendu')

Catégorie déjà supprimée.